<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="/static/CSS/adminPage.css">
</head>
<body style="background-color: rgb(152, 170, 170);">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>


    &nbsp;    &nbsp;    &nbsp;    &nbsp;    &nbsp;     &nbsp;    &nbsp;    &nbsp;    &nbsp;    &nbsp;     &nbsp;    &nbsp;    &nbsp;    &nbsp;    &nbsp;
    &nbsp;    &nbsp;    &nbsp;    &nbsp;    &nbsp;     &nbsp;    &nbsp;    &nbsp;    &nbsp;    &nbsp;     &nbsp;    &nbsp;    &nbsp;    &nbsp;    &nbsp;
    &nbsp;    &nbsp;    &nbsp;    &nbsp;    &nbsp;     &nbsp;    &nbsp;    &nbsp;    &nbsp;    &nbsp;     &nbsp;    &nbsp;    &nbsp;    &nbsp;    &nbsp;
    &nbsp;    &nbsp;    &nbsp;    &nbsp;    &nbsp;     &nbsp;    &nbsp;    &nbsp;    &nbsp;    &nbsp;     &nbsp;    &nbsp;    &nbsp;    &nbsp;    &nbsp;
    &nbsp;    &nbsp;    &nbsp;    &nbsp;    &nbsp;     &nbsp;    &nbsp;    &nbsp;    &nbsp;    &nbsp;     &nbsp;    &nbsp;    
    <button class="A" id = "button1">View Users</button>
    &nbsp;    &nbsp;    &nbsp;    &nbsp;    &nbsp;
    <button class="A" id = "button2">View Anime</button>
    <br>
    <br>
    <br>

    <hr>

    <br>
    <br>
    <br>
    &nbsp;    &nbsp;    &nbsp;    &nbsp;    &nbsp;     &nbsp;    &nbsp;    &nbsp;    &nbsp;    &nbsp;     &nbsp;    &nbsp;    &nbsp;    &nbsp;    &nbsp;

    &nbsp;    &nbsp;    &nbsp;    &nbsp;    &nbsp;     &nbsp;    &nbsp;    &nbsp;    &nbsp;    &nbsp;     &nbsp;    &nbsp;    &nbsp;    &nbsp;    &nbsp;
    &nbsp;    &nbsp;    &nbsp;    &nbsp;    &nbsp;     &nbsp;    &nbsp;    &nbsp;    &nbsp;    &nbsp;     &nbsp;    &nbsp;    &nbsp;    &nbsp;    &nbsp;
    &nbsp;    &nbsp;    &nbsp;    &nbsp;    &nbsp;     &nbsp;    &nbsp;    &nbsp;    &nbsp;    &nbsp;     &nbsp;    &nbsp;    &nbsp;    &nbsp;    &nbsp;

    <button class="A" id = "button3">Delete User</button>
    &nbsp;    &nbsp;    &nbsp;     &nbsp;    &nbsp;    &nbsp;    &nbsp;    &nbsp;
    <button class="A" id = "button4">Delete Anime</button>
    &nbsp;    &nbsp;    &nbsp;     &nbsp;    &nbsp;    &nbsp;    &nbsp;    &nbsp;
    <button class="A" id = "button5">Add Anime</button>
    <script src="/static/JS/adminPage.js"></script>
</body>
</html>