<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anime Page</title>
    <link rel="stylesheet" href="/static/CSS/animePage.css">
</head>

<body style="color:white; background-color: crimson; background-image: url(/static/images/animePage.jpg);background-size: cover; background-repeat: no-repeat; background-position: center;">
    <div class="button-container">
        <button id="button1">add to Watched</button>
        <button id="button2">add to Favourite</button>
        <button id="button3">Home</button>
      </div>
    <div class="container">
        <div class="anime-info-container" id="anime-info-container">
            <!-- Dynamically added anime information will go here -->
        </div>
    </div>

    <div class="rating-container">
        <h2>Rate This Anime</h2>
        <div class="rating-stars">
            <span class="star" data-rating="1">&#9733;</span>
            <span class="star" data-rating="2">&#9733;</span>
            <span class="star" data-rating="3">&#9733;</span>
            <span class="star" data-rating="4">&#9733;</span>
            <span class="star" data-rating="5">&#9733;</span>
        </div>
        <div style="color: gold; font-weight: bold;">
            <span>Current Rating: </span><span id = "rate"></span>
        </div>
        <button id="submit-rating-btn" class="submit-rating-btn">Submit Rating</button>
    </div>


    <div class="new-comment">
        <input type="text" id="comment-input" class="comment-input" placeholder="Add a new review...">
        <button id="post-comment-btn" class="post-comment-btn">Post</button>
    </div>
    <div class="discussion-container">
        <h2 class="discussion-title">Reviews</h2>
        <div id="discussion-list" class="discussion-list">
            <!-- Dynamically added discussions will go here -->
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/static/JS/animePage.js"></script>
</body>

</html>
