<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page</title>
  <link rel="stylesheet" href="/static/CSS/style.css">
  <style>
    body {
      margin: 0;
      padding: 0;
    }
    #myVideo {
      position: fixed;
      right: 0;
      bottom: 0;
      min-width: 100%;
      min-height: 100%;
      object-fit: cover;
      z-index: -1;

      background-size: cover; 
      background-repeat: no-repeat;
      background-position: center;
    }
  </style>
</head>
<body style="background-image: url(/static/images/lloginBackground.webp);background-size: cover; background-repeat: no-repeat; background-position: center;">
  <!-- <video id="myVideo" autoplay loop muted>
    <source src="/static/videos/login.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video> -->

  <div class="login-wrapper" style="background-image: url(/static/images/login.jpg);background-size: cover; background-repeat: no-repeat; background-position: center;">
    <form id="login-form" class="login-form">
      <h1>Login</h1>
      <div class="form-group">
        <label style="color:orange;" for="username">Username:</label>
        <input type="text" id="username" name="username" placeholder="Enter your username">
      </div>
      <div class="form-group">
        <label style="color: orange;" for="password">Password:</label>
        <input type="password" id="password" name="password" placeholder="Enter your password">
      </div>
      <div class="error-message"></div>
      <button type="submit">Login</button>
      <a href="signup.html" class="signup-button" style="color: orange;">Sign Up</a>
      &nbsp;       &nbsp;        &nbsp; 
      <a href="adminLogin.html" style="color: yellow;"> Admin Login</a>
    </form>
  </div>
  <script src="/static/JS/script.js"></script>
</body>
</html>