<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" href="/static/CSS/profile.css">
</head>
<!--<body style="background-image: url(/static/images/signupBackground.jpg);background-size: cover; background-repeat: no-repeat; background-position: center;">-->
<body>
    <div class="profile-container">
        <h1>User Profile</h1>
        <div class="profile-info">
            <div class="details">
                <p><strong>Username:</strong> <span id="username"></span></p>
                <p><strong>Name:</strong> <span id="name"></span></p>
                <p><strong>Date of Birth:</strong> <span id="bdate"></span></p>
                <p><strong>Joining Date:</strong> <span id="joiningDate"></span></p>
                <p><strong>Gender:</strong> <span id="gender"></span></p>
                <p><strong>Email:</strong> <span id="email"></span></p>
                <div><strong>Current Badge:</strong> <span id="badges"></span>     <img src="" alt="Badge" id="image" class="badge-img"></div>
            </div>
        </div>
    </div>
    
    <script src="/static/JS/profile.js"></script>
</body>
</html>
